.advantages__list {
  display: flex;
  justify-content: space-between;

  @include font(14px, 400, 1.714, 0.03em);
}

.advantages__list-item {
  width: 270px;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.advantages__icon-bg {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 30px;

  height: 120px;
  background-color: var(--icon-color);
}

.advantages__subtitle {
  margin-bottom: 10px;

  @include font(14px, 700, 1.142, 0.03em);
  text-transform: uppercase;
}

.advantages__text {
  line-height: 1.714;
  color: var(--secondary-text-color);
}
